<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1><%= @username %><h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Profile</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <%= render '/components/post_form' %>
    <div class="panel panel-default">
      <% for @p in @posts%>
      <div class="panel-body">
        <p><%= @p.content %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Who To Follow</p>
      </div>
    </div>
  </div>
</div>
<!-- begin row 2 -->
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Trends</p>
      </div>
    </div>
  </div>
</div>
